.side-nav{
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 255px;
    margin: 0;
    height: 100%;
    float: left;
    padding-bottom: 3.75rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 999;
    overflow-y: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 0.3s transform;
    transition: 0.3s transform;
    list-style-type: none;
    padding: 0;
    background-color: #ffffff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.15), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.side-nav.fixed {
    position: fixed;
    left: 0;
}

  .side-nav ul {
    list-style-type: none;
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
  }

  .side-nav .logo-sn,
.side-nav .menu-item ul {
  background-color: #ffffff;
}
.side-nav .logo-sn a{
  display: block;
  padding: 17px 0;
  border-bottom: 1px solid #dddddd;
}
.logo-sn a img {
  max-width: 150px;
}
.side-nav ul li.menu-item {
  padding: 0;
}
.side-nav .menu-item ul {
    padding-left: 40px;
}

.side-nav li.menu-item a i {
    margin-right: 20px;
    
}
.side-nav .menu-item a {
  position: relative;
  display: block;
  padding: 15px 0 15px 25px;
  color: #000000;
  -webkit-transition: 0s;
  transition: 0s;
}
.side-nav .menu-item a span{
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #000000;
}
.side-nav .menu-item a.active::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: #fbb022;
  }
  .side-nav .menu-item ul li a.active::before{
    left: auto;
    right: 0;
    top: 12px;
    height: 30px;
  }
  .side-nav li.menu-item a:hover,
  .side-nav li.menu-item a:hover span,
  .side-nav li.menu-item a.active,
  .side-nav li.menu-item a.active span,
  .side-nav li.menu-item ul li a.active{
    color: #fbb022;
  }
  .side-nav .menu-item ul {
    padding-left: 40px;
  }
  .side-nav .menu-item ul.collapse {
    margin-top: 0px;
  }
  
  .side-nav .has-chevron:hover::after{
    color: #fbb022;
  }
  .side-nav a[aria-expanded="false"]::after {
    transform: rotate(0);
  }
  .side-nav a[aria-expanded="true"]::after{
    transform: rotate(180deg);
  }
  .side-nav li.menu-item a i {
    margin-right: 2px;
  }
  .side-nav .menu-item ul {
    padding-left: 40px;
  }

  .side-nav .menu-item ul {
    padding-left: 40px;
  }

 
  